#loading {
    display: table;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.8;
  }
   
#loading .loadingMsg {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-top: 140px;
    background: url("/static/img/gif-load.gif") center center no-repeat;
  }
.pad-top-96 {
    padding-top: 96px;
  }
.pad-top-56 {
    padding-top: 56px;
  }
.nav-date {
    position: fixed;
    top: 56px;
    left: 15px;
    right: 15px;
    z-index: 1000;
    background-color: white;
  }
.tooltip-inner {
  max-width: 90vw;
}

.obj_rev_tr > td {
  text-align: right;
}

.obj_rev_head > th {
  text-align: center;
}

.bold {
  font-weight: bold;
}