{% load calculator %}
<!-- 目標値 -->
<td>{{ numObj.objective_value }}</td>
<!-- その日の実績値 -->
<td>
    <input class="form-control d_num_objective input_num input_obj" 
            type="number"
            id="O_N_{{ numObj.id|default_if_none:'' }}"
            value="{{ numObj.output_value|default_if_none:'' }}" />
</td>
<!-- 合計or平均 / パーセンテージ -->
<!-- 割り算は組み込みフィルター -->
<td class="sumval">
    {% if numObj.summary_kind == 'S' %}
    {{ numObj.sumval|default_if_none:0 }}
    /
    {{ numObj.sumval|percentie:numObj.objective_value }} %
    {% elif numObj.summary_kind == 'A' %}
    {{ numObj.sumval|dividie:numObj.cnt }}
    /
    {{ numObj.sumval|dividie:numObj.cnt|percentie:numObj.objective_value }} %
    {% endif %}
</td>