{% load calculator %}
<!-- 目標値 -->
{% if input_unit == "W" %}
<td>{{ obj.objective_value|num_to_time }}</td>
{% endif %}
<!-- 合計or平均 -->
{% for hd in sum_header %}
<td>
    {% for sum_dic in obj.sum_dic_list %}
        {% if hd == sum_dic.header %}
            {% if obj.summary_kind == 'S' %}
                {{ sum_dic.sumval|num_to_time }}
            {% elif obj.summary_kind == 'A' %}
                {{ sum_dic.sumval|dividie:sum_dic.cnt|num_to_time }}
            {% endif %}
        {% endif %}
    {% endfor %}
</td>
{% endfor %}