{% load calculator %}
<!-- 目標値 -->
{% if input_unit == "W" %}
<td>{{ obj.objective_value|num_to_time }}</td>
{% endif %}
<!-- 合計or平均 -->
{% for hd in sum_header %}
<td>
    {% for sum_dic in obj.sum_dic_list %}
        {% if hd == sum_dic.header %}
            {% if obj.summary_kind == "S" %}
                {{ sum_dic.val|num_to_time }}
                {% if hd == "集計" and input_unit == "W" %}
                / {{ sum_dic.val|percentie:obj.objective_value }} %
                {% endif %}
            {% elif obj.summary_kind == "A" %}
                {{ sum_dic.val|dividie:sum_dic.cnt|num_to_time }}
                {% if hd == "集計" and input_unit == "W" %}
                / {{ sum_dic.val|dividie:sum_dic.cnt|percentie:obj.objective_value }} %
                {% endif %}
            {% endif %}
            <!-- 週振り返り以外では件数表示 -->
            {% if input_unit != "W" %}
                ({{ sum_dic.cnt|default_if_none:0 }})
            {% endif %}
        {% endif %}
    {% endfor %}
</td>
{% endfor %}