{% extends "_base.html" %}
{% block content %}
<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({
            locale: 'ja',
            dayViewHeaderFormat: 'YYYY年 M月',
            format: 'YYYY-MM-DD'
        });
        $('#datetimepicker').val('{{display_date}}');
        $('#datetimepicker').on("change.datetimepicker", function(e){
            e.preventDefault();
            if (e.oldDate) {
                var target_date = $(this).val();
                window.location.href = "/objectives/display_date?target_date=" + target_date;    
            }
        });
        $(".fw_post").on("click", function(e){
            e.preventDefault();
            var free_word = $(this).parents(".objective-review-group").children(".objective-review-input").val();
            var date = $('#datetimepicker').val();
            var input_unit = $(this).attr("id").split("_")[0];
            var input_kind = $(this).attr("id").split("_")[1];
            var id = $(this).attr("id").split("_")[3];
            var url = $(this).prop("href");
            var token = '{{csrf_token}}';
            $.ajax({
                url: url,
                method: "POST",
                headers: { "X-CSRFToken": token },
                data: {
                    "id": id,
                    "input_unit": input_unit,
                    "input_kind": input_kind,
                    "free_word": free_word,
                    "input_date": date 
                },
                timeout: 10000,
                datatype: "text",
            })
            .done(function(data){
                alert("done");
                // TODO 登録完了メッセージをヘッダに出す
            })
        });

    });
</script>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 text-center">
        <input type="text" class="form-control datetimepicker-input"
               id="datetimepicker" data-toggle="datetimepicker"
               data-target="#datetimepicker"/>
    </div>
    <div class="col-2">
        <p><i class="fas fa-check-square"></i><a href="#">年目標</a></p>
        <p><i class="fas fa-check-square"></i><a href="#">月目標</a></p>
    </div>
    <div class="col-2">
        <p><i class="far fa-square"></i><a href="#">年振返り</a></p>
        <p><i class="far fa-square"></i><a href="#">月振返り</a></p>
        <p><i class="far fa-square"></i><a href="#">週振返り</a></p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group objective-review-group">
            <label for="week_objective">今週の目標 
                <a id="W_O_link_{{ weekFreeObjective.id|default_if_none:'' }}" href="/objectives/ajax/freeword/register/" class="fw_post">
                    <i class="fas fa-upload"></i>
                </a>
            </label>
            <textarea class='form-control objective-review-input' rows='6'>{{ weekFreeObjective.free_word|default_if_none:"" }}</textarea>
        </div>
        <p>
        </p>
    </div>
    <div class="col-6">
        <div class="form-group objective-review-group">
            <label for="week_objective">今日の目標 
                <a id="D_O_link_{{ dateFreeObjective.id|default_if_none:'' }}" href="/objectives/ajax/freeword/register/" class="fw_post">
                    <i class="fas fa-upload"></i>
                </a>
            </label>
            <textarea class='form-control objective-review-input' rows='2'>{{ dateFreeObjective.free_word|default_if_none:"" }}</textarea>
        </div>
        <div class="form-group objective-review-group">
            <label for="week_objective">今日の振返り 
                <a id="D_R_link_{{ dateFreeReview.id|default_if_none:'' }}" href="/objectives/ajax/freeword/register/" class="fw_post">
                    <i class="fas fa-upload"></i>
                </a>
            </label>
            <textarea class='form-control objective-review-input' rows='2'>{{ dateFreeReview.free_word|default_if_none:"" }}</textarea>
        </div>    
    </div>
</div>
<div class="row">
<table class="table table-hover">
  <thead>
    <tr>
      <th>数値目標</th>
      <th></th>
      <th>今日の実績 <a href="#"><i class="fas fa-upload"></i></a></th>
      <th>進捗状況</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">目標1</th>
      <td>週 XXX</td>
      <td><input  class='form-control' value="xxx"/></td>
      <td>xxx / xx%</td>
    </tr>
    <tr>
      <th scope="row">目標2</th>
      <td>平均 XXX</td>
      <td><input  class='form-control' value="xxx"/></td>
      <td>xxx / xx%</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}
