{% extends "_base.html" %}
{% block content %}
{% load cmn_filter %}
{% load calculator %}
<script type="text/javascript">
    $(function () {
        $("#block-content").removeClass("pad-top-56");
        $("#block-content").addClass("pad-top-96");

        $('#datetimepicker').datetimepicker({
            locale: moment.locale('ja', {
                week: { dow: 1 }
            }),
            dayViewHeaderFormat: 'YYYY年 M月',
            format: 'YYYY-MM-DD'
        });
        $('#datetimepicker').val('{{display_date}}');
        $('#datetimepicker').on("change.datetimepicker", function(e){
            e.preventDefault();
            if (e.oldDate) {
                var target_date = $(this).val();
                window.location.href = "/objectives/display_date?target_date=" + target_date;    
            }
        });
        $(".fw_post").on("click", function(e){
            e.preventDefault();

            var free_word = $(this).parents(".objective-review-group").children(".objective-review-input").val().trim();
            var msg_dom = $(this).parents(".objective-review-group").children(".msg-area");
            if (free_word == "") {
                $(msg_dom).text("入力してください");
            } else {
                $(msg_dom).text("");

                // 処理前に Loading 画像を表示
                dispLoading("処理中...");

                var date = $('#datetimepicker').val();
                var input_unit = $(this).attr("id").split("_")[0];
                var input_kind = $(this).attr("id").split("_")[1];
                var url = $(this).prop("href");
                var token = '{{csrf_token}}';
                $.ajax({
                    url: url,
                    method: "POST",
                    headers: { "X-CSRFToken": token },
                    data: {
                        "input_unit": input_unit,
                        "input_kind": input_kind,
                        "free_word": free_word,
                        "input_date": date 
                    },
                    timeout: 10000,
                    datatype: "text",
                })
                .then(
                    function(msg){
                        swal({
                            title: msg,
                            icon: "success",
                        });
                    },
                    function(){
                        swal({
                            title: "登録に失敗しました",
                            text: "時間をおいて再実行してください。",
                            icon: "error",
                        })
                    },
                ).always(function(){
                    removeLoading();
                })
            }
        });
        // 日の実績値を投げる
        $(".do_post").on("click", function(e){

            e.preventDefault();
            var target_date = $('#datetimepicker').val();
            // 実績値取得して投げる
            var outputs = [];
            var rows = $(".d_out_row");
            rows.each(function(idx, row){
                var obj = {};
                // id
                var id = $(row).attr("id").split("_")[1];
                // master_id あんまきれいな取り方ではないがとりあえず
                var master_id = $(row).attr("class").split("d_row_")[1];
                // 実績値
                var dom = $(row).find(".input_obj");
                var val = $(dom).val();
                var number_kind = $(dom).attr("id").split("_")[1];
                // 入力がある場合のみ登録
                if (val) {
                    if (number_kind != "N"){
                        // 時間の変換
                        val = parseInt(val.split(":")[0]) * 60 + parseInt(val.split(":")[1]) 
                    }
                    obj = {
                        "id": id,
                        "master_id": master_id,
                        "value": val
                    }
                    outputs.push(obj); 
                }
            });
            var msg_dom = $(this).parents(".num-obj-table").children(".msg-area");
            if (outputs.length == 0){
                $(msg_dom).text("実績の入力がありません。");
            } else {
                $(msg_dom).text("");
                // 処理前に Loading 画像を表示
                dispLoading("処理中...");
                var token = '{{csrf_token}}';
                $.ajax({
                    url: "{% url 'objectives:ajax_dateoutput_create' %}",
                    method: "POST",
                    headers: { "X-CSRFToken": token },
                    dataType: "json",
                    data: JSON.stringify({
                        "target_date": target_date,
                        "outputs": outputs
                    }),
                    timeout: 10000,
                })
                .done(function(data){
                    // TODO 登録処理完了後に表示内容を取得しに行く？
                    rows.each(function(idx, row){
                        // master_id あんまきれいな取り方ではないがとりあえず
                        var master_id = $(row).attr("class").split("d_row_")[1];
                        data["num_obj_list"].forEach(function(num_obj){
                            if (master_id == num_obj["masterid"]) {
                                // 実績集計値
                                var dom = $(row).find(".sumval");
                                dom.text(num_obj["disp_str"]);
                            }
                        })
                    })
                    swal({
                        title: "実績登録完了！",
                        icon: "success"
                    }).then(() => {
                        // 連続達成、前週超えの判定
                        var text = "";
                        var achieve_items = data["achieve_item"];
                        Object.keys(achieve_items).forEach(function(k){
                            var v_arr = achieve_items[k].split("_");
                            var val = v_arr[0];
                            if (v_arr[1] != "N") {
                                val = Math.floor(v_arr[0] / 60) + ":" + ("00" + (v_arr[0] % 60)).slice(-2);
                            }
                            var cons_msg = "";
                            if (v_arr[2] > 1) {
                                cons_msg = v_arr[2] + "週連続達成！";
                            }
                            text += (k + " : " + val + " " + cons_msg + "\n");
                        });
                        var ex_text = "";
                        var exceed_items = data["exceed_item"];
                        Object.keys(exceed_items).forEach(function(k){
                            var ex_v_arr = exceed_items[k].split("_");
                            var ex_val = ex_v_arr[0];
                            if (ex_v_arr[1] != "N") {
                                ex_val = Math.floor(ex_v_arr[0] / 60) + ":" + ("00" + (ex_v_arr[0] % 60)).slice(-2);
                            }
                            var ex_cons_msg = "";
                            if (ex_v_arr[2] > 1) {
                                ex_cons_msg = ex_v_arr[2] + "週連続アップ！";
                            }
                            ex_text += (k + " : " + "前週の実績 : " + ex_val + " " + ex_cons_msg + "\n");
                        });
                        if (text != "") {
                            swal({
                                title: "今週の目標を達成しました！",
                                text: text,
                                icon: "success",
                            }).then(() => {
                                if (ex_text != "") {
                                    swal({
                                        title: "前週より実績がアップしました！",
                                        text: ex_text,
                                        icon: "success",
                                    });
                                }
                            });
                        } else if (ex_text != "") {
                            swal({
                                title: "前週より実績がアップしました！",
                                text: ex_text,
                                icon: "success",
                            });
                        }
                    });
                })
                .always(function(){
                    removeLoading();
                });
            }
        });
        $("#btn_left").on("click", function(){
            var target_date = getCalculatedDateStr($('#datetimepicker').val(), -1);
            window.location.href = "/objectives/display_date?target_date=" + target_date;    
        });
        $("#btn_right").on("click", function(){
            var target_date = getCalculatedDateStr($('#datetimepicker').val(), 1);
            window.location.href = "/objectives/display_date?target_date=" + target_date;    
        })
    });
    function getCalculatedDateStr(target_date, calcDate) {
        var year = target_date.substr(0,4);
        var month = target_date.substr(5,2);
        var date = target_date.substr(8,2);
        var dt = new Date(year, month-1, date);
        dt.setDate(dt.getDate() + calcDate);
        return dt.getFullYear() + "-" + ("00" + (dt.getMonth()+1)).slice(-2) + "-" + ("00" + (dt.getDate())).slice(-2)
    }
    // 戻るボタンで遷移した際に強制的にリロードする(datetimepickerの表示を正しくするため)
    window.onload = function(){
        if ($('#datetimepicker').val() != "" && $('#datetimepicker').val().split("-").length == 1) {
            window.location.reload();
        }
    } 
</script>
<div class="row nav-date">
    <div class="col-1 btn btn-success" id="btn_left">＜</div>
    <div class="col-10">
        <input type="text" class="form-control datetimepicker-input"
                id="datetimepicker" data-toggle="datetimepicker"
                data-target="#datetimepicker"/>
    </div>
    <div class="col-1 btn btn-success" id="btn_right">＞</div>
</div>      
<!-- 目標・振返り作成状況によりメッセージ表示 -->
{% for k,v in objRevFlgList.items %}
    {% if k|obj_rev_msg_flg:v %}
    <div class="alert alert-warning alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ k|create_obj_rev_msg }}
        <a href="{{ k|create_obj_rev_link:display_date }}" class="alert-link">作成</a>
    </div>
    {% endif %}
{% endfor %}
<div class="row">
    <div class="col-md-6 col-12">
        <div class="row">
            <div class="col-12">
                <a href="{{ 'TYO'|create_obj_rev_link:display_date }}">
                    <span class="{{ objRevFlgList.TYO|get_btn_class }}">
                        <i class="{{ objRevFlgList.TYO|get_checkbox }}"></i> 年目標
                    </span>
                </a>
                {% if objRevFlgList.TYO == "1" %}
                <a href="{{ 'TYR'|create_obj_rev_link:display_date }}">
                    <span class="{{ objRevFlgList.TYR|get_btn_class }}">
                        <i class="{{ objRevFlgList.TYR|get_checkbox }}"></i> 年振返り
                    </span>
                </a>
                {% endif %}
                <a href="{{ 'TMO'|create_obj_rev_link:display_date }}">
                    <span class="{{ objRevFlgList.TMO|get_btn_class }}">
                        <i class="{{ objRevFlgList.TMO|get_checkbox }}"></i> 月目標
                    </span>
                </a>
                {% if objRevFlgList.TMO == "1" %}
                <a href="{{ 'TMR'|create_obj_rev_link:display_date }}">
                    <span class="{{ objRevFlgList.TMR|get_btn_class }}">
                        <i class="{{ objRevFlgList.TMR|get_checkbox }}"></i> 月振返り
                    </span>
                </a>
                {% endif %}
                <a href="{{ 'TWR'|create_obj_rev_link:display_date }}">
                    <span class="{{ objRevFlgList.TWR|get_btn_class }}">
                        <i class="{{ objRevFlgList.TWR|get_checkbox }}"></i> 週振返り
                    </span>
                </a>
            </div>
        </div>
{% if weekFreeObjective %}
        <div class="form-group objective-review-group">
            <label class="bold">今週の目標 
                <a href="{% url 'objectives:week_objective_edit' display_date %}">
                    <i class="fas fa-edit"></i>
                </a>
            </label>
            <textarea class='form-control objective-review-input' rows='6' readonly
                      data-toggle="tooltip"
                      title="{{ weekFreeObjective.free_word|default_if_none:'' }}">{{ weekFreeObjective.free_word|default_if_none:"" }}
            </textarea>
        </div>
        <p>
        </p>
        <div class="form-group objective-review-group">
            <label class="bold">今日の目標 
                <a id="D_O_link" href="{% url 'objectives:ajax_freeword_register' %}" class="fw_post">
                    <i class="fas fa-upload"></i>
                </a>
            </label>
            <i class="msg-area"></i>
            <textarea class='form-control objective-review-input' 
                      rows='2' data-toggle="tooltip"
                      title="{{ dateFreeObjective.free_word|default_if_none:'' }}">{{ dateFreeObjective.free_word|default_if_none:"" }}</textarea>
        </div>
        <div class="form-group objective-review-group">
            <label class="bold">今日の振返り 
                <a id="D_R_link" href="{% url 'objectives:ajax_freeword_register' %}" class="fw_post">
                    <i class="fas fa-upload"></i>
                </a>
            </label>
            <i class="msg-area"></i>
            <textarea class='form-control objective-review-input'
                      rows='2' data-toggle="tooltip"
                      title="{{ dateFreeReview.free_word|default_if_none:'' }}">{{ dateFreeReview.free_word|default_if_none:"" }}</textarea>
        </div>    
    </div>
    <div class="col-md-6 col-12 num-obj-table">
        <div class="msg-area"></div>
        <div class="table-responsive">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr class="obj_rev_head">
                    <th colspan="3">数値目標</th>
                    <th>今日の実績 <a href="#" class="do_post"><i class="fas fa-upload"></i></a></th>
                    <th>進捗状況</th>
                    </tr>
                </thead>
                <tbody>
                    {% for numObj in numberObjective %}
                    <tr class="obj_rev_tr d_out_row d_row_{{ numObj.masterid }}" id="row_{{ numObj.id|default_if_none:'' }}">
                    <th scope="row">{{ numObj.name }}</th>
                    <td>
                    {% if numObj.summary_kind == 'S' %}
                        週
                    {% elif numObj.summary_kind == 'A' %}
                        平均
                    {% endif %}
                    </td>
                    {% if numObj.number_kind == 'N' %}
                        {% include "objectives/_daily_output_number.html" %}
                    {% elif numObj.number_kind == 'P' %}
                        {% include "objectives/_daily_output_period.html" %}
                    {% elif numObj.number_kind == 'T' %}
                        {% include "objectives/_daily_output_time.html" %}
                    {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>              
        </div>
    </div>
</div>
{% else %}
<p>週の目標が設定されていません！</p><a href="{% url 'objectives:week_objective_create' display_date %}">設定する</a>
{% endif %}

{% endblock %}
