{% extends "_base.html" %}
{% block content %}
{% load get_dic_vals %}
<script type="text/javascript">
    $(function () {
        if ("{{input_kind}}" == "R") {
            // 振返りの場合、目標入力欄を読み取り専用に
            $(".obj").attr("readOnly", true);
        }
        // 入力値を投げる
        $("#obj_rev_submit").on("click", function(e){
            e.preventDefault();
            var date = "{{ target_date_str }}";
            var path = location.pathname;
            var key = path.split("/")[3];
            var input_unit = key.substring(1,2);
            var input_kind = key.substring(2,3);
            var id = input_kind == "R" ? "{{ free_input_rev.id }}" : "{{ free_input.obj.id }}";
            var free_word = input_kind == "R" ? $(".rev").val() : $(".obj").val();
            if (free_word == "") {
                $("#invalid-fb").text("入力してください。");
            }
            // 年、月の場合、月、日を補完する
            if (input_unit == "Y") {
                date += "-01-01";
            } else if (input_unit == "M") {
                date += "-01";
            }
            var url = "{% url 'objectives:ajax_freeword_register' %}";
            var token = "{{csrf_token}}";
            $.ajax({
                url: url,
                method: "POST",
                headers: { "X-CSRFToken": token },
                data: {
                    "id": id,
                    "input_unit": input_unit,
                    "input_kind": input_kind,
                    "free_word": free_word,
                    "input_date": date 
                },
                timeout: 10000,
                datatype: "text",
            })
            .done(function(msg){
                swal({
                    title: msg,
                    icon: "success",
                    text: " ", // ダイアログのサイズ調整のためtext設定
                    buttons: false,
                });
                window.location.href = "{% url 'objectives:index' %}";
            })
            .always(function(){
                removeLoading();
            });
        });
    })
</script>
<h4>{{ input_unit|input_unit }}の{{ input_kind|input_kind }} ({{ target_period_str }})</h4>
<div id="invalid-fb"></div>
<div class="row">
    <!-- 自由入力 -->
    <div class="col-12">
        <div>目標</div>
        <div class="form-group objective-review-group">
            <textarea class='form-control obj' rows='6' data-toggle="tooltip"
                      title="{{ free_input_obj.free_word|default_if_none:'' }}">{{ free_input_obj.free_word|default_if_none:"" }}</textarea>
        </div>
    </div>
    {% if input_kind == "R" %}
    <div class="col-12">
        <div>振返り</div>
        <div class="form-group objective-review-group">
            <textarea class='form-control rev' rows='6' data-toggle="tooltip"
                      title="{{ free_input_rev.free_word|default_if_none:'' }}">{{ free_input_rev.free_word|default_if_none:"" }}</textarea>
        </div>
    </div>
    {% endif %}
</div>
<div class="row">
    <input id="obj_rev_submit" type="submit" class="btn btn-primary" value="登録"/>
</div>
<!-- 振り返りの場合、数値目標の実績集計値も表示 -->
{% if input_kind == "R" %}
<div class="row">
    <div class="table-responsive">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr class="obj_rev_head">
                    <th colspan="2">数値目標</th>
                    {% if input_unit == "W" %}
                    <th>目標値</th>
                    {% endif %}
                    {% for hd in sum_header %}
                    <th>{{ hd }}</th>
                    {% endfor %}        
                </tr>
            </thead>
            <tbody>
                {% for obj in num_obj_rev %}
                <tr class="obj_rev_tr">
                    <th>
                        {{ obj.name }}
                    </th>
                    <td style="text-align: right">
                    {% if obj.summary_kind == 'S' %}
                        合計
                    {% elif obj.summary_kind == 'A' %}
                        平均
                    {% endif %}
                    </td>
                    <!--TODO-->
                    {% if obj.number_kind == 'N' %}
                        {% include "objectives/_objrev_number.html" %}
                    {% elif obj.number_kind == 'P' %}
                        {% include "objectives/_objrev_period.html" %}
                    {% elif obj.number_kind == 'T' %}
                        {% include "objectives/_objrev_time.html" %}     
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>            
    </div>
</div>
{% endif %}
{% endblock %}
