{% extends "_base.html" %}
{% block content %}
<script type="text/javascript">
    $(function(){
        // 入力値を投げる
        $(".wk_obj_submit").on("click", function(e){
            e.preventDefault();
            var path = location.pathname;
            var target_date = path.split("/")[4];
            var free_word = $(".objective-review-input").val().trim();
            var objectives = [];
            var rows = $(".wk_obj_row");
            rows.each(function(idx, row){
                var obj = {};
                // id
                var id = $(row).attr("id").split("_")[1];
                // 目標値
                var dom = $(row).find(".input_obj");
                var val = $(dom).val();
                var number_kind = $(dom).attr("id").split("_")[1];
                // 入力がある場合のみ登録
                if (val) {
                    if (number_kind != "N"){
                        // 時間の変換
                        val = parseInt(val.split(":")[0]) * 60 + parseInt(val.split(":")[1]) 
                    }
                    obj = {
                        "master_id": id,
                        "value": val
                    }
                    objectives.push(obj); 
                }
            });
            if (free_word == ""){
                $("#w_fi").addClass("is-invalid");
                $("#invalid-fb").text("入力してください。");
            } else if (objectives.length == 0){
                $("#w_fi").removeClass("is-invalid");
                $("#invalid-fb").text("");
                $(".msg-area").text("数値目標を最低1つ入力してください。");
            } else {
                // 処理前に Loading 画像を表示
                dispLoading("処理中...");
                var token = '{{csrf_token}}';
                $.ajax({
                    url: "{% url 'objectives:ajax_weekobj_create' %}",
                    method: "POST",
                    headers: { "X-CSRFToken": token },
                    dataType: "json",
                    data: JSON.stringify({
                        "target_date": target_date,
                        "free_word": free_word,
                        "objectives": objectives,
                        "mode": $(this).attr("id")
                    }),
                    timeout: 10000,
                })
                .done(function(){
                    swal({
                        title: "週の目標を登録しました！",
                        icon: "success",
                        text: " ", // ダイアログのサイズ調整のためtext設定
                        buttons: false,
                    });
                    window.location.href = "/objectives/display_date?target_date=" + target_date;
                })
                .always(function(){
                    removeLoading();
                });
            }
        })
    })
</script>
<h4>週の目標 ({{ start_date_str }} ~ {{ end_date_str }})</h4>
<div class="row">
    <!-- 自由入力 -->
    <div class="col-12">
        <div id="invalid-fb"></div>
        <div class="form-group objective-review-group">
            <textarea id="w_fi" class='form-control objective-review-input' rows='6'
                      data-toggle="tooltip"
                      title="{{ free_input.free_word|default_if_none:'' }}">{{ free_input.free_word|default_if_none:"" }}</textarea>
        </div>
    </div>
    <!-- 数値目標 -->
    <div class="col-12 msg-area"></div>
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr class="obj_rev_head">
                    <th colspan="2">数値目標</th>
                    <th>目標値</th>
                    <th>前週実績</th> 
                </tr>
            </thead>
            <tbody>
            <!-- 数値目標マスタ件数分行を作る -->
            {% for master in masters %}
                <!-- 名称 -->
                <tr class="obj_rev_tr wk_obj_row" id="row_{{ master.id }}">
                    <th>
                        {{ master.name }}
                    </th>
                    <!-- 集計単位 -->
                    <td style="text-align: right">
                    {% if master.summary_kind == 'S' %}
                        週
                    {% elif master.summary_kind == 'A' %}
                        平均
                    {% endif %}
                    </td>
                    <!-- number_kind毎に形式分け -->
                    {% if master.number_kind == 'N' %}
                        {% include "objectives/_week_objective_number.html" %}
                    {% elif master.number_kind == 'P' %}
                        {% include "objectives/_week_objective_period.html" %}
                    {% elif master.number_kind == 'T' %}
                        {% include "objectives/_week_objective_time.html" %}     
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <input id="{{mode}}" type="submit" class="btn btn-primary wk_obj_submit" value="登録"/>
</div>
{% endblock %}
